@import '../public/scss/common.scss';


div {
    background: rgba(0,0,0,0.6);
}

.list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: none;
}
[class^='card'] {
    box-sizing: border-box;
    padding: 1.2em;
    width: 30%;
    height:280px;
    color: white;
    text-align: center;
    overflow: auto;
    margin: 20px 0 40px;
}

.card1 {
    background: linear-gradient(to left bottom, #5ddcff 10%, #4e00c2 30%, #58c7fa 80%);
    background-clip: padding-box;
    border: 1.2em solid rgba(20,20,20,0.5);
}
.card2 {
    box-shadow: 0 0 0 .2em #3c67e3, 0 0 0 .4em #fe5757, 0 0 0 .6em #91de53;
}
.card3 {
    border: .3em solid #4e00c2;
    outline: .3em solid #5ddcff;
    border-radius: 2em;
}

.card4 {
    background: url("../images/loki.jpg") rgba(0,0,0,0.6) no-repeat left top 4em;
    background-origin: content-box;
}

.card5 {
    background: url("../images/loki.jpg") rgba(0,0,0,0.6) no-repeat calc(100% - .8em) calc(100% - 1.2em);
    background-origin: content-box;
}

.card6 {
    background: tan;
    border-radius: .6em;
    box-shadow: 0 0 0 .6em #655;
    outline: .6em solid #655;
}

.card7 {
    background: linear-gradient(to bottom, #46829b 30%, #177c50 0, #177c50 60%, #4d5411 0);
    background-size: 100% 2em;
}

.card8 {
    background: linear-gradient(to right, #243a12 30%, #196081 0, #196081 60%, #321e50 0);
    background-size: 2em 100%;
}

.card9 {
    background: linear-gradient(45deg, #243a12 25%, #196081 0, #196081 50%,  #243a12 0,  #243a12 75%, #196081 0);
    background-size: 2.828em 2.828em;
}

.card10 {
    background: repeating-linear-gradient(45deg,#243a12, #243a12 2em, #196081 0,#196081 4em);
}

.card11 {
    background: linear-gradient(to top, rgba(200,0,0,.5) 1.6em, transparent 0),
            linear-gradient(to right, rgba(200,0,0,.5) 1.6em, transparent 0) rgba(0,0,0,0.5);
    background-size: 2em 2em;
}
.card12 {
    background-color: #3c67e3;
    background-image:
            linear-gradient(to right, white .1em, transparent 0),
            linear-gradient(to top, white .1em, transparent 0),
            linear-gradient(to right, hsla(0,0%,100%,.3) .1em,transparent 0),
            linear-gradient(to top, hsla(0,0%,100%,.3) .1em, transparent 0);
    background-size: 5em 5em, 5em 5em, 1em 1em, 1em 1em;
}

.card13 {
    background-color: #665555;
    background-image: radial-gradient(tan 30%, transparent 0);
    background-size: 2em 2em;
}

.card14 {
    background-color: #665555;
    background-image: radial-gradient(tan 30%, transparent 0),
                      radial-gradient(tan 30%, transparent 0);
    background-position: 0 0, 1em 1em;
    background-size: 2em 2em;
}

.card15 {
    /*background-color: #7bd5bd;
    background-image:
            linear-gradient(45deg, rgba(0,0,0,.25) 25%, transparent 0, transparent 75%, rgba(0,0,0,.25) 0),
            linear-gradient(45deg, rgba(0,0,0,.25) 25%, transparent 0, transparent 75%, rgba(0,0,0,.25) 0);
    background-position: 0 0, 1em 1em;*/
    background: repeating-conic-gradient(rgba(0,0,0,.25) 0, rgba(0,0,0,.25) 25%, #eee 0, #eee 50%);
    background-size: 2em 2em;
}

.card16 {
    background: conic-gradient(red,yellow,lime,aqua,blue,fuchsia,red);
}

.card17 {
    color: #000000;
    font-weight: 600;
    background: linear-gradient(to right, #f5cdb7 17%, transparent 0),
    linear-gradient(to right, #c4e8f8 29%, transparent 0),
    linear-gradient(to right, #8ff5e4 41%, transparent 0) #c3abe8;
    background-size: 1.3em 100%, 2em 100%, 2.9em 100%;
}
@keyframes ants {
    to { background-position: 100%}
}
.card18 {
    border: 1em solid transparent;
    color: black;
    background: linear-gradient(white,white) content-box,
    /*url("../images/loki.jpg") border-box 0 / cover,*/
    repeating-linear-gradient(45deg, blue 0,blue 25%, red 0, red 50%) 0 / 1em 1em;

    background-origin: border-box;
    animation: ants 12s linear infinite;
}
